.breadcrumbs {
	@include fluid-text(12, 12);

	margin-block: 15px;

	ul,
	ol {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
	}

	li {
		display: inline-flex;
		align-items: center;
		gap: 10px;

		&:not(:last-child) {
			color: var(--black);
		}

		&:not(:last-child)::after {
			content: '/';
			position: relative;
		}

		&:last-child {
			pointer-events: none;
			color: var(--primary-500);
		}

		@include hover {
			color: var(--black);
		}
	}
}
