.callback-section {
	margin-bottom: var(--section-margin-bottom);

	&__container {
		display: grid;
		grid-template-columns: 450px minmax(0, 940px);
		align-items: center;
		justify-content: space-between;
		gap: 15px 20px;

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__content {
		display: grid;
		gap: 15px;
		align-content: center;
		height: 100%;
		padding-block: 30px;

		@include tablet {
			justify-items: center;
			text-align: center;
			padding-block: 30px 15px;
		}
	}

	&__top {
		display: grid;
		gap: 15px;
		align-content: start;
	}

	&__title {
		@include fluid-text(34, 54);

		font-weight: 700;
		line-height: 1;
		color: var(--gray-700);
	}

	&__text {
		@include fluid-text(16, 16);

		color: var(--gray-700);
		max-width: 330px;

		@include tablet {
			max-width: unset;
		}
	}

	&__online {
		display: flex;
		gap: 24px;
		align-items: flex-end;
		margin-top: auto;

		@include mobile {
			align-items: center;
		}
	}

	&__online-title {
		@include fluid-text(16, 24);

		font-weight: 700;
		color: var(--gray-500);
		text-align: left;
		max-width: 190px;

		@include tablet {
			max-width: unset;
		}
	}

	&__socials {
		@include flex-center;

		gap: 10px;
	}

	&__social {
		@include square(28px);

		img {
			@include square(28px);
		}
	}

	&__panel {
		display: grid;
		align-items: center;
		min-height: 500px;
		padding: 20px 60px;
		overflow: hidden;
		background-image: var(--callback-section-bg, none);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 0 16px 16px 0;

		@include desktop {
			padding: 20px 20px;
		}

		@include tablet {
			padding: 44px 30px;
			width: 100%;
			border-radius: 16px;
		}

		@include mobile {
			min-height: auto;
			padding: 0;
			background-image: none;
			border-radius: 0;
		}
	}

	&__form-wrap {
		display: grid;
		gap: 20px;
		width: 450px;

		@include mobile {
			width: 100%;
			gap: 15px;
		}
	}

	&__form-title {
		@include fluid-text(18, 20);

		color: var(--gray-700);

		@include mobile {
			@include fluid-text(24, 24);

			font-weight: 700;
			text-align: center;
		}
	}

	&__form {
	}

	&__submit {
	}
}
