.callback-section {
	margin-bottom: 70px;

	&__container {
		display: grid;
		grid-template-columns: 450px minmax(0, 940px);
		align-items: center;
		justify-content: space-between;
		gap: 15px 20px;

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__content {
		display: grid;
		gap: 15px;
		align-content: stretch;
		height: 100%;
		padding-block: 30px;

		@include mobile {
			justify-items: center;
			text-align: center;
		}
	}

	&__title {
		@include fluid-text(48, 54);

		font-weight: 700;
		line-height: 1;
		color: #54565f;

		@include mobile {
			@include fluid-text(28, 32);

			line-height: 1.05;
		}
	}

	&__text {
		@include fluid-text(14, 14);

		color: #54565f;
		max-width: 330px;

		@include mobile {
			max-width: unset;
		}
	}

	&__online {
		display: flex;
		gap: 24px;
		align-items: flex-end;
		margin-top: auto;

		@include mobile {
			align-items: center;
		}
	}

	&__online-title {
		@include fluid-text(16, 24);

		font-weight: 700;
		color: var(--gray-500);
	}

	&__socials {
		display: flex;
		gap: 10px;
	}

	&__social {
		@include square(28px);
	}

	&__panel {
		min-height: 500px;
		padding: 74px 60px;
		overflow: hidden;
		background-image: url('/images/03-feedback-form/feedback-form-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 0 0 16px 16px;

		@include tablet {
			width: 100%;
		}

		@include mobile {
			min-height: auto;
			padding: 0;
			background-image: none;
			border-radius: 0;
		}
	}

	&__form-wrap {
		display: grid;
		gap: 22px;
		width: 450px;

		@include mobile {
			width: 100%;
			gap: 16px;
		}
	}

	&__form-title {
		@include fluid-text(16, 16);

		color: #54565f;

		@include mobile {
			@include fluid-text(18, 20);

			font-weight: 700;
			line-height: 1.1;
		}
	}

	&__form {
		gap: 18px;

		@include mobile {
			gap: 12px;
		}
	}

	&__submit {
		min-height: 72px;

		@include mobile {
			min-height: var(--button-height);
		}
	}
}
