.cards-grid {
	&__container {
	}

	&__title {
		@include fluid-text(34, 48);

		width: fit-content;
		padding-bottom: 10px;
		font-weight: 700;
		color: var(--gray-800);
		border-bottom: 2px solid var(--primary-500);
		margin-bottom: 30px;

		@include mobile {
			margin-inline: auto;
			text-align: center;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 30px;

		@include tablet {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 24px;
		}

		@include mobile {
			gap: 14px 12px;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		gap: 12px;
		margin-top: 15px;
		padding-block: 10px;

		&.swiper-pagination-lock {
			display: none;
		}
	}

	&__bullet {
		@include reset-button;
		@include square(10px);

		flex: 0 0 auto;
		background-color: var(--gray-500);
		border-radius: 50%;

		&.is-active {
			background-color: var(--primary-500);
		}
	}

	&--slider {
		.cards-grid__container {
			grid-template-columns: minmax(0, 1fr);
			overflow: hidden;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}

		.cards-grid__list {
			display: flex;
			align-items: stretch;
			gap: 0;
			min-width: 0;
		}

		.cards-grid__item {
			height: auto;
			user-select: none;

			.service-card {
				height: 100%;
				-webkit-user-drag: none;
				user-select: none;
			}

			img {
				-webkit-user-drag: none;
				user-select: none;
			}
		}

		.cards-grid__pagination {
			&.swiper-pagination-lock {
				display: none;
			}
		}
	}

	&--plain {
		.service-card__media {
			@include mobile {
				aspect-ratio: 169 / 122;
			}
		}
	}

	&--compact {
		.service-card__title {
			@include fluid-text(20, 24);
		}

		.service-card__arrow {
			margin-left: auto;
		}
	}

	&--center {
		.cards-grid__title {
			text-align: center;
			margin-inline: auto;
		}
	}

	&--pagination-hidden {
		.cards-grid__pagination {
			display: none;
		}
	}

	&--darken {
		.service-card__media {
			&::after {
				position: absolute;
				inset: 0;
				z-index: 1;
				pointer-events: none;
				content: '';
				background-color: var(--card-overlay);
				transition: opacity var(--transition-duration-long)
					var(--transition-timing-function);
			}
		}

		.service-card__icon {
			z-index: 2;
		}

		.service-card:hover .service-card__media::after {
			opacity: 0;
		}
	}
}
