.cards-grid {
	margin-bottom: var(--section-margin-bottom);

	&--plain {
		.service-card__media {
			@include mobile {
				aspect-ratio: 169 / 122;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 30px;

		@include tablet {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 24px;
		}

		@include mobile {
			gap: 14px 12px;
		}
	}

	&__pagination {
		display: none;
	}

	&__bullet {
		@include reset-button;
		@include square(10px);

		flex: 0 0 auto;
		background-color: var(--gray-500);
		border-radius: 50%;

		&.is-active {
			background-color: var(--primary-500);
		}
	}

	&--slider {
		.cards-grid__container {
			overflow: hidden;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}

		.cards-grid__list {
			display: flex;
			align-items: stretch;
			gap: 0;
		}

		.cards-grid__item {
			height: auto;
			user-select: none;

			.service-card {
				height: 100%;
				-webkit-user-drag: none;
				user-select: none;
			}

			img {
				-webkit-user-drag: none;
				user-select: none;
			}
		}

		.cards-grid__pagination {
			display: flex;
			justify-content: center;
			gap: 12px;
			margin-top: 15px;
			padding-block: 10px;

			&.swiper-pagination-lock {
				display: none;
			}
		}
	}
}
