.contacts-section {
	&__container {
		display: grid;
		grid-template-columns: minmax(320px, 1fr) minmax(0, 1fr);
		grid-template-areas:
			'details form'
			'map map';
		gap: 30px;

		@include tablet {
			grid-template-columns: 1fr;
			grid-template-areas:
				'details'
				'map'
				'form';
		}
	}

	&__details {
		grid-area: details;
		padding: 32px;
		background-color: var(--gray-200);
		border-radius: 6px;

		@include mobile {
			padding: 20px 16px;
		}
	}

	&__title {
		@include fluid-text(34, 34);

		margin-bottom: 32px;
		font-weight: 700;
		color: var(--gray-800);
	}

	&__contacts {
		display: grid;
		gap: 32px;
	}

	&__contact {
		display: grid;
		grid-template-columns: 24px minmax(0, 1fr);
		gap: 14px;
	}

	&__icon {
		width: 20px;
		height: 20px;
		object-fit: contain;
	}

	&__contact-title {
		@include fluid-text(16, 20);

		color: var(--gray-500);
	}

	&__contact-text,
	&__contact-link {
		@include fluid-text(16, 20);

		color: var(--gray-800);
	}

	&__route {
		@include fluid-text(12, 16);
	}

	&__phone-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
	}

	&__phone {
		@include fluid-text(24, 34);

		font-weight: 700;
		color: var(--gray-800);
	}

	&__socials {
		display: flex;
		gap: 8px;
	}

	&__social {
		@include square(26px);
	}

	&__route {
		display: inline-flex;
		margin-top: 8px;
		font-weight: 700;
		color: var(--primary-500);
	}

	&__form-block {
		grid-area: form;
		display: grid;
		align-content: start;
		gap: 16px;
		text-align: center;
	}

	&__form-title {
		@include fluid-text(34, 34);

		font-weight: 700;
		line-height: 1;
		color: var(--gray-800);
	}

	&__form-text {
		@include fluid-text(14, 16);

		color: var(--gray-800);
	}

	&__form {
		text-align: left;

		.form__row {
			grid-template-columns: repeat(2, minmax(0, 1fr));

			@include mobile {
				grid-template-columns: 1fr;
			}
		}
	}

	&__submit {
		justify-self: center;
		min-width: 300px;

		@include mobile {
			width: 100%;
			min-width: 0;
		}
	}

	&__map {
		grid-area: map;
		height: 420px;
		overflow: hidden;
		background: var(--gray-200) url('/images/icons/map-placeholder.jpg')
			center / cover no-repeat;
		border-radius: 16px;

		@include mobile {
			height: 390px;
			border-radius: 8px;
		}

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}

.faq {
	&__container {
		display: grid;
		grid-template-columns: 450px minmax(0, 1fr);
		grid-template-areas:
			'title list'
			'button list';
		align-items: start;
		gap: 30px 70px;

		@include tablet {
			grid-template-columns: 1fr;
			grid-template-areas:
				'title'
				'list'
				'button';
		}
	}

	&__title {
		@include fluid-text(34, 48);

		grid-area: title;
		padding-bottom: 10px;
		font-weight: 700;
		color: var(--gray-800);
		border-bottom: 2px solid var(--primary-500);

		@include tablet {
			text-align: center;
		}
	}

	&__button {
		grid-area: button;
		width: 100%;
	}

	&__list {
		grid-area: list;
	}

	&__item {
		border-bottom: 1px solid var(--gray-300);

		&:last-child{
			border-bottom: none;
		}

		&.is-open {
			.faq__icon {
				color: var(--primary-500);

				&::before {
					rotate: 45deg;
				}

				&::after {
					rotate: -45deg;
				}
			}

			.faq__answer {
				grid-template-rows: 1fr;
			}
		}
	}

	&__question {
		@include reset-button;
		@include fluid-text(16, 20);

		display: grid;
		grid-template-columns: minmax(0, 1fr) 44px;
		align-items: center;
		gap: 24px;
		width: 100%;
		padding-block: 24px;
		font-weight: 500;
		text-align: left;
		color: var(--gray-800);
	}

	&__icon {
		@include square(40px);

		position: relative;
		color: var(--gray-800);
		background-color: var(--gray-200);
		border-radius: 50%;
		transition:
			color var(--transition-duration-long),
			background-color var(--transition-duration-long);

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 2px;
			background-color: var(--current-color);
			translate: -50% -50%;
			transition:
				rotate var(--transition-duration-long),
				background-color var(--transition-duration-long);
		}

		&::after {
			rotate: 90deg;
		}
	}

	&__answer {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows var(--transition-duration-long) ease;

		> div {
			overflow: hidden;
		}

		p {
			@include fluid-text(14, 15);

			padding: 0 68px 24px 0;
			color: var(--gray-500);

			@include mobile {
				padding-right: 0;
			}
		}
	}
}
