.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	@include mobile {
		gap: 7px;
	}

	> a,
	> span {
		@include flex-center;
		@include square(34px);
		@include fluid-text(12, 14);

		flex: 0 0 auto;
		color: var(--gray-800);
		background-color: var(--gray-200);
		border-radius: 50%;
		transition:
			color var(--transition-duration),
			background-color var(--transition-duration);

		@include hover {
			color: var(--gray-900);
			background-color: var(--gray-400);
		}

		@include mobile {
			@include square(28px);
		}

		&[aria-current='page'] {
			color: var(--primary-500);
			background-color: var(--primary-100);
		}

		&[aria-label] {
			&::before {
				content: '';
				width: 15px;
				height: 15px;
				-webkit-mask: url('/images/icons/arrow.svg') center / contain no-repeat;
				mask: url('/images/icons/arrow.svg') center / contain no-repeat;
				background-color: var(--current-color);
			}

			@include mobile {
				&::before {
					width: 12px;
					height: 12px;
				}
			}
		}

		&[aria-label='Предыдущая страница']::before {
			rotate: 180deg;
		}

		&[aria-label='Следующая страница'] {
			color: var(--white);
			background-color: var(--gray-500);

			@include hover {
				color: var(--white);
				background-color: var(--gray-600);
			}
		}
	}
}
