.page-text {
	&__container {
		display: grid;
		gap: 30px;

		@include mobile {
			gap: 10px;
		}
	}

	&__title {
		@include fluid-text(34, 54);

		font-weight: 700;
		line-height: 1;
		color: var(--gray-800);

		@include mobile {
			@include fluid-text(28, 32);

			max-width: 100%;
			overflow-wrap: anywhere;
			text-wrap: wrap;
			text-align: center;
		}
	}

	p {
		@include fluid-text(16, 20);

		color: var(--gray-800);
	}

	span {
		@include fluid-text(14, 16);

		color: var(--gray-500);
	}
}
