html {
	min-height: 100%;
	scroll-padding-top: var(--header-height);
	scroll-behavior: smooth;
}

body {
	@include fluid-text(14, 16);

	min-height: 100%;
	overflow-x: hidden;
	font-family: var(--font-family-base);
	font-optical-sizing: auto;
	font-weight: 400;
	line-height: 1.35;
	color: var(--black);
	background-color: var(--white);

	&.is-fixed {
		overflow: hidden;
	}

	// scrollbar-color: var(--primary-500) var(--transparent);
	// scrollbar-width: thin;
	// overscroll-behavior: contain;

	// &::-webkit-scrollbar {
	// 	width: 2px;
	// 	height: 2px;
	// }

	// &::-webkit-scrollbar-track {
	// 	background: var(--transparent);
	// }

	// &::-webkit-scrollbar-thumb {
	// 	background-color: var(--primary-500);
	// 	border-radius: var(--border-radius-xs);
	// }

	// &::-webkit-scrollbar-thumb:hover {
	// 	background-color: var(--primary-300);
	// }
}

.main {
	overflow-x: clip;
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea,
select {
	font: inherit;
	color: inherit;
}

button {
	cursor: pointer;
}

img,
svg {
	user-select: none;
}

img {
	height: auto;
	object-fit: cover;
}

svg {
	display: block;
	flex-shrink: 0;
}

input,
textarea {
	border-radius: 0;

	&::placeholder {
		color: var(--gray-500);
		opacity: 1;
	}
}

p {
	color: inherit;
}

::selection {
	color: var(--white);
	background-color: var(--primary-500);
}

h1,
.h1 {
	@include fluid-text(34, 48);

	font-weight: 700;
	line-height: 1.35;
	color: var(--black);

	@include mobile {
		line-height: 1;
	}
}

h2,
.h2 {
	@include fluid-text(34, 34);

	font-weight: 700;
	line-height: 1;
	color: var(--black);
}

h3,
.h3 {
	@include fluid-text(20, 24);

	font-weight: 700;
	line-height: 1.35;
	color: var(--black);
}

h4,
.h4 {
	@include fluid-text(18, 24);

	font-weight: 500;
	line-height: 1.35;
	color: var(--black);
}
