:root {
	--current-color: currentColor;
	--transparent: transparent;
	--white: #ffffff;
	--black: #000000;

	--success-500: #11da1f;
	--primary-100: #fff3f1;
	--primary-500: #ff2e17;
	--gray-200: #f9f9f9;
	--gray-300: #f2f2f2;
	--gray-400: #e6e6e6;
	--gray-500: #85878b;
	--gray-500-trans: rgba(133, 135, 139, 0.65);
	--gray-600: #595b61;
	--gray-700: #54565f;
	--gray-800: #43454b;
	--gray-900: #232427;

	--black-alpha-10: rgb(0 0 0 / 10%);
	--black-alpha-35: rgb(0 0 0 / 30%);
	--black-alpha-55: rgb(0 0 0 / 55%);
	--black-alpha-75: rgb(0 0 0 / 75%);
	--white-alpha-10: rgb(255 255 255 / 16%);
	--white-alpha-35: rgb(255 255 255 / 40%);
	--white-alpha-75: rgb(255 255 255 / 75%);
	--white-alpha-90: rgb(255 255 255 / 90%);

	--font-family-base:
		'Calibri', 'Arial', system-ui, -apple-system, 'Segoe UI', sans-serif;
	--font-family-secondary:
		'Inter', 'Arial', system-ui, -apple-system, 'Segoe UI', sans-serif;
	--font-family-accent:
		'ShareTech', 'Arial', system-ui, -apple-system, 'Segoe UI', sans-serif;

	--border: 1px solid var(--transparent);

	--container-width: 1410px;
	--container-padding-x: 44px;
	--section-margin-bottom: 60px;

	--input-height: 68px;
	--button-height: 72px;
	--header-height: 135px;

	--transition-duration: 0.2s;
	--transition-duration-long: 0.35s;
	--transition-timing-function: ease-in-out;

	@include tablet {
		--header-height: 92px;
		--container-padding-x: 24px;
	}

	@include mobile {
		--section-margin-bottom: 30px;
		--input-height: 52px;
		--button-height: 48px;
	}

	@include mobile-s {
		--container-padding-x: 12px;
	}
}
