:root {
	--white: #ffffff;
	--black: #000000;

	--primary-500: #ff2e17;
	--gray-200: #f9f9f9;
	--gray-300: #f2f2f2;
	--gray-500: #85878b;
	--gray-500-trans: #85878ba6;
	--gray-600: #595b61;
	--gray-700: #43454b;
	--gray-900: #232427;

	--font-family-base:
		'Encode Sans', 'Calibri', system-ui, -apple-system, 'Segoe UI', sans-serif;
	// --font-family-secondary: 'Arial', sans-serif;

	--border: 1px solid transparent;

	--container-width: 1410px;
	--container-padding-x: 15px;
	--section-margin-bottom: 60px;

	--input-height: 68px;
	--button-height: 72px;
	--header-height: 135px;

	--transition-duration: 0.2s;
	--transition-duration-long: 0.35s;
	--transition-timing-function: ease-in-out;

	@include mobile {
		--container-padding-x: 24px;
		--section-margin-bottom: 30px;
		--input-height: 52px;
		--button-height: 48px;
		--header-height: 92px;
	}

	@include mobile-s {
		--container-padding-x: 12px;
	}
}
